@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

/* FOR FORMAT TESTING */
/* div { outline: 1px solid red !important; } */

/* Leaderboard */
.home-button {
    font-size: 3rem;
    float: left;
}

.colNames {
    font-family: 'Quicksand', sans-serif;
    border: none !important;
    padding: 0px !important;
}

.dataText {
    font-family: 'Quicksand', sans-serif;
    border: none !important;
    padding: 0px !important;
    max-width: 50%;
}

.tablecss {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 1.5em;
    text-align: center;
}

.tableContainer {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: 4px solid black;
    border-radius: 15px;
    max-width: 90%;
}

.leaderboard-div {
    text-align: center;
    height: 100vh;
    min-height: 100vh;
    background-color: #8FF4F4;
}

/* Upgrades */
.upgrades-div {
    text-align: center;
    height: 100vh;
    min-height: 100vh;
    background-color: #8FF4F4;
}

.mainTitle {
    padding-top: 2%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 3em;
    width: 90%;
    margin-left: 5%;
}

/* Homepage */
.homePage {
    background-color: #8FF4F4;
    background-image: url("https://cdn.discordapp.com/attachments/667630015554256896/814979438462238740/6480375.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
}

.settingPage {
    text-align: center;
    height: 100vh;
    min-height: 100vh;
    background-color: #8FF4F4;
}

.scrollMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.homeTitle {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3em
}

.button-container {
    position: relative;
    padding-top: 2%;
    height: 100vh;
}

.settings-button {
    color: #000;
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.leaderboard-button {
    color: #000;
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    left: 0;
}



.movingGradient {
    /* border: 1px solid black; */
    border-radius: 50px;
    position: relative;
    /* left: 25%;
    right: 25%; */
    height: 40%;
    width: 40%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    z-index: 98;
}

.playContainer {
    border: 2px solid black;
    /* border-radius: 50px; */
    position: absolute;
    /* left: 25%;
    right: 25%; */
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* background: rgba(107, 123, 50, 1); */
    background: #9CCC9C;

    display: block;
    z-index: 99;
}
.movingGradient:before,
		.movingGradient:after{
			content: '';
			position: absolute;
			top: -3px;
			left: -3px;
			width: calc(100% + 6px);
			height: calc(100% + 6px);
            background: linear-gradient(45deg, rgb(81, 189, 252), rgb(69, 253, 177), rgb(81, 149, 252), rgb(101, 248, 224), rgb(99, 235, 128), rgb(43, 240, 125));
			/* background: linear-gradient(45deg, red, yellow, green, blue, yellow, purple); */
			z-index: -1;
			background-size: 400%;
			animation: borderbg 40s linear infinite;
		}
		@keyframes borderbg {
			0%{
				background-position: 0 0 ;
			}
			50%{
				background-position: 400% 0;
			}
			100%{
				background-position: 0 0 ;	
			}
		}
		.movingGradient:after{
			filter: blur(40px);
		}

.testBackground {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: Open Sans, sans-serif;
}


.skins-button {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    position: absolute;
    top: 10%;
    left: 10%;
}

.gameplay-button {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    position: relative;
    top: 60px;
}

.upgrades-button {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    position: absolute;
    top: 10%;
    right: 10%;
}

.userInput {
    color: rgb(80, 202, 86);
    position: absolute;
    top: 45%;
    width: 100%;
}

.inputText {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
}

.inputBox {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    border-radius: 15px;
}


.slider {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #8FF4F4; */
}

.image {
    height: 600px;
    border-radius: 10px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.home-button {
    color: #000;
    /* position: fixed; */
    font-size: 3rem;
}

/* gameplay */
/* .game-screen {
    background: #8FF4F4;
} */

.gameplay-div {
    height: 100vh;
    background-image: url("https://i.imgur.com/ISS5Jow.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #8FF4F4;  */
    padding-left: 17%;
}

.rectangle {
    position: absolute;
    display: inline-block;
    width: 1280px;
    height: 80px;
    background: darkgreen;
    margin-top: 100px;
    
    /* left: 17%; */
}

.score-text {
    position: absolute;
    left: 440px;
    top: 128px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    white-space: nowrap;
}

.name-text {
    position: absolute;
    left: 1000px;
    top: 128px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    white-space: nowrap;
}

.startgame-button {
    position: absolute;
    left: 1425px;
    top: 128px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    white-space: nowrap;
}

.game-over {
    position: absolute;
    text-align: center;
    top: 123px;
    left: 770px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
    white-space: nowrap;
}

/* test */
